:root {
  --bg-header: #000000;
  --bg-main: #FFFFFF;
  --text-light: #FFFFFF;
  --text-dark: #212427;
  --hover: rgb(103, 182, 103);
}

html {
  scroll-behavior: smooth;
}

.text-light-gray {
  color: rgb(240, 240, 240);
}

.text-green {
  color: rgb(103, 182, 103);
}

.paragraph {
  font-size: 1.2rem;
  font-family: sans-serif;
  text-align: justify;
}

.navbar-nav .nav-link:hover {
  color: var(--hover);
  transition: 0.3s;
}

.hero-section .hero-text h2:hover{
  color: var(--hover);
  transition: 0.3s;
}

.skills-board .col img {
  opacity: 30%;
}

.skills-board .col img:hover {
  opacity: 100%;
}